@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: white;
}

nav ul li a:hover{
    color: red;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.informações {
    display: flex;
}

.section  {
    width: 50%;
    display: inline-block;
    vertical-align: top; 
}

h2{
    text-align: center;
}


img.Img_direita{
    width: 70%;
    padding-left: 15%;
    border-radius: 50px 50px;
    padding-top: 5%;
}

img.Img_esquerda{
    width: 70%;
    padding-left: 15%;
    border-radius: 50px 50px;
    padding-top: 5%;

}

img.baner{
    width: 80%;
    height: auto;
    padding-left: 10%;
}
  
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.Info {
    text-align: center;
    width: 40%;
    padding-inline: 30%;
}

.topicos{
    border-top-width: 2px;
    border-color: black;
    border-top-style: solid;
}
@media screen and (max-width: 1090px){
    .Info {
        text-align: center;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
}
